* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'lato', sans-serif;
}

.upper-nav ul {
  list-style-type: none;
  background-color: #272a31;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-right: 14%;
  display: flex;
  justify-content: end;
}

.upper-nav ul li {
  margin-left: 1%;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.link li a {
  text-decoration: none;
  color: #272a31;
  margin: 0 20px;
}

.upper-nav ul li a {
  text-decoration: none;
  color: #d3d3d3;
  margin: 0 5%;
}

.logo {
  margin-top: 10px;
}

.campaign {
  border: 4px solid red;
  padding: 10px;
}

#active,
#campaign {
  color: red;
  font-weight: 400;
}

.lower-nav ul li {
  float: left;
  list-style-type: none;
  background-color: white;
}

.lower-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 4.5rem;
}

.link {
  text-decoration: none;
  color: #272a31;
  margin: 0 20px;
  display: flex;
  align-items: center;
}

/* ------------section------------ */
.global {
  background-image: url("image/mobile-background.png");
  background-size: cover;
  width: 100%;
  height: 105vh;
  background-repeat: no-repeat;
  background-position: center;
}

.about1 {
  width: 100%;
  height: 70vh;
  padding: 7% 10% 7% 10%;
}

.summit {
  margin: 20px 0;
  color: red;
  font-size: 50px;
  padding-top: 35px;
  font-weight: 1000;
  text-align: center;
  background-image: url('image/text-background.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(236, 82, 66, 0.5);
}

.summit-space {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: #ec5242;
  font-size: 20px;
  font-weight: 700;
}

.para-submit {
  width: 100%;
  margin: 5% 2% 2% 2%;
  padding: 2.5% 5%;
  background-color: #fffdfd;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.please {
  color: #7a7a7a;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.48px;
}

.cckore {
  color: #5f5f5f;
  text-align: center;
  font-size: 17px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0.34px;
  text-decoration-line: underline;
}

.cckore img {
  margin-left: 8px;
}

/* ----------------------------------------------- */
.creative3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  background-color: white;
  width: 100%;
  height: 55vh;
  margin-top: 25px;
}

.common {
  width: 50%;
  margin: 5% 25%;
}

.A2015 {
  text-align: center;
  color: #2c2c2c;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.criative2-space {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: #ec5242;
  font-size: 20px;
  font-weight: 600;
  margin: -10px 0 10px 0;
}

.para-logo {
  color: #838383;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  margin: 0 10%;
}

.big-logo {
  width: 60%;
  height: 25vh;
  margin: 4% 20%;
}

/* ______________________________past--------------------- */

.see {
  color: #2c2c2c;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-top: 4%;
}

.past-space {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: #ec5242;
  font-size: 20px;
  font-weight: 600;
  margin: -10px 0 10px 0;
}

.past-two {
  color: #838383;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.past-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1% 20%;
}

.past-container div {
  padding: 10px;
  margin-bottom: 40px;
}

/* ----------------------footer---------------------------- */
.foot2 {
  background-color: #111010;
  width: 100%;
  height: 25vh;
}

.creative2 {
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 13.078px;
  letter-spacing: -0.1px;
  margin: 0 10px;
}

.footer-container2 {
  display: grid;
  grid-template-columns: 15% 65%;
  justify-content: center;
  align-items: center;
  margin: 0% 10%;
  gap: 50px;
  padding-top: 50px;
}

.korea2 {
  color: #eee5e5;
  margin-top: 25px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
}

@media screen and (min-width: 767px) {
  .mobile {
    display: none;
  }

  .hello2 {
    display: none;
  }

  .para-submit-mobile {
    display: none;
  }

  .black-logo {
    display: none;
  }

  .partner2 {
    display: none;
  }

  .para-logo2 {
    display: none;
  }

  .foot-logo3 {
    display: none;
  }
}

/* ------------------for mobile --------------- */

@media screen and (max-width: 767px) {
  .upper-nav {
    display: none;
  }

  .lower {
    display: none;
  }

  .summit-space {
    display: none;
  }

  .para-submit {
    display: none;
  }

  .para-logo {
    display: none;
  }

  .korea2 {
    display: none;
  }

  .foot-logo2 {
    display: none;
  }

  /* _________________________ hamburger _______________________ */
  .hamlogo {
    background-color: #6070ff;
    backdrop-filter: blur(5px);
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 99;
  }

  .ham {
    background-color: #396df2d3;
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    display: none;
  }

  #menuIcon {
    width: 60px;
    position: fixed;
    top: 40px;
    right: 2%;
    background-color: #6070;
    cursor: pointer;
    z-index: 100;
    border: none;
  }

  .hambar {
    width: 60px;
    position: fixed;
    top: 80px;
    left: 6%;
    cursor: pointer;
    z-index: 100;
  }

  .hambar li a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    color: white;
  }

  .hambar li {
    padding-top: 10px;
  }

  /* ------------------------------------------------------------ */

  .global {
    flex-direction: column;
    height: 65vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("image/mobile-back-about3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mobile {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .menu {
    margin-left: 10%;
  }

  .hello2 {
    color: red;
    font-size: 25px;
    padding-top: -30px;
    font-weight: 400;
    text-align: center;
  }

  .about1 {
    width: 100%;
    height: 100vh;
    padding: 0;
  }

  .summit {
    margin: 10px 0;
    color: red;
    font-size: 30px;
    padding-top: 0;
    font-weight: 1000;
    text-align: center;
  }

  .para-submit-mobile {
    width: 100%;
    margin: 70px 2% 2% 0;
    padding: 2.5% 5%;
    background-color: #fffdfd;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
  }

  .please {
    color: #7a7a7a;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding: 2.5% 5%;
    line-height: 25px;
    letter-spacing: 0.48px;
  }

  .cckore {
    color: #5f5f5f;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    line-height: 15px;
    letter-spacing: 0.34px;
    text-decoration-line: underline;
  }

  .cckore img {
    margin-left: 4px;
    height: 8px;
  }

  /* ----------------------------------------------- */
  .creative3 {
    background-color: white;
    width: 100%;
    height: 45vh;
  }

  .common {
    width: 90%;
    margin: 5%;
  }

  .A2015 {
    width: 62%;
    margin: 0 21%;
    text-align: center;
    color: #2c2c2c;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  .criative2-space {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: #ec5242;
    font-size: 20px;
    font-weight: 600;
    margin: -10px 0 10px 0;
  }

  .para-logo2 {
    color: #838383;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    margin: 0 2%;
  }

  .big-logo {
    width: 100%;
    height: 20vh;
    margin: 8% 0% 4% 0;
  }

  /* ----------------------footer---------------------- */

  .see {
    color: #2c2c2c;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-top: 4%;
  }

  .past-space {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: #ec5242;
    font-size: 20px;
    font-weight: 600;
    margin: -10px 0 10px 0;
  }

  .past-two {
    color: #838383;
    text-align: center;
    font-size: 12px;
    padding: 0 15px;
    font-weight: 700;
    line-height: 21px;
  }

  .past-container {
    display: grid;
    grid-template-columns: auto;
    margin: 5% 2%;
  }

  .past-container div {
    padding: 10px;
    margin-bottom: 0;
  }

  /* ______________________ partner _________________________ */

  .partner2 {
    width: 100%;
    height: 32vh;
    background-color: #272a31;
  }

  .part2 {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: #8f8f91;
    font-size: 25px;
    font-weight: 400;
    padding-top: 25px;
  }

  .part-space2 {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: #ec5242;
    font-size: 14px;
    font-weight: 400;
  }

  .partner-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .partner-container2 div img {
    width: 100px;
    gap: 4%;
  }

  .partner-container2 div {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 3% 6%;
    gap: 4%;
  }

  /* --------------------footer------------------- */

  .foot2 {
    background-color: white;
    width: 100%;
    height: 10vh;
  }

  .footer-container2 {
    display: grid;
    grid-template-columns: 35% 65%;
    justify-content: center;
    align-items: center;
    margin: 0% 10%;
    gap: 50px;
    padding-top: 17px;

    /* color: white; */
  }

  .creative2 {
    color: rgb(11, 1, 1);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.078px;
    letter-spacing: -0.1px;
    margin: 10px;
  }
}
